h1 Signin
a(href="/") Inicio
div= err
form(method='POST' action='/users/signin')
    div
        input(type='email',placeholder='Ingrese su correo' name='email' required value=email?email:'')
    br
    div
        input(type='password', placeholder='*********' name='password')
    br
    input(type='submit' value='Entrar')
